{# purpose of this template: build the user form to edit an instance of file #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'base' %}
{% extends 'MUFilesModule::' ~ baseTemplate ~ '.html.twig' %}

{% block title mode == 'create' ? __('Create file') : __('Edit file') %}
{% block content %}
    <div class="mufilesmodule-file mufilesmodule-edit">
        {% form_theme form with [
            '@MUFilesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'fileEditForm', class: 'mufiles-edit-form'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Content') }}</legend>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.uploadFile) }}
        </fieldset>
        {% set specialMenu = getModVar('MUFilesModule', 'specialCollectionMenue') %}
        {% if specialMenu == false %}
        {{ include(
            '@MUFilesModule/Collection/includeSelectOne.html.twig',
            {group: 'file', heading: __('Aliascollection'), alias: 'aliascollection', mandatory: false, idPrefix: 'filesFile_Aliascollection', linkingItem: file, displayMode: 'choices'}
        ) }}
        {% else %}
        <div class="hidden">
         {{ include(
            '@MUFilesModule/Collection/includeSelectOne.html.twig',
            {group: 'file', heading: __('Aliascollection'), alias: 'aliascollection', mandatory: false, idPrefix: 'filesFile_Aliascollection', linkingItem: file, displayMode: 'choices'}
        ) }}
        </div>
            {{ mufilesmodule_specialMenu(0, file.id)|raw }}
        {% endif %}
        {% if mode != 'create' %}
            {{ include('@MUFilesModule/Helper/includeStandardFieldsEdit.html.twig', {obj: file}) }}
        {% endif %}
        
        {% if supportsHookSubscribers and formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        
        <fieldset>
            <legend>{{ __('Communication') }}</legend>
            {{ form_row(form.additionalNotificationRemarks) }}
        </fieldset>
        
        {% if form.moderationSpecificCreator is defined or form.moderationSpecificCreationDate is defined %}
            <fieldset id="moderationFieldsSection">
                <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
                <div id="moderationFieldsContent">
                    {% if form.moderationSpecificCreator is defined %}
                        {{ form_row(form.moderationSpecificCreator) }}
                    {% endif %}
                    {% if form.moderationSpecificCreationDate is defined %}
                        {{ form_row(form.moderationSpecificCreationDate) }}
                    {% endif %}
                </div>
            </fieldset>
        {% endif %}
        
        
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                    {% if mode == 'create' and action.id == 'submit' and form.submitrepeat is defined %}
                        {{ form_widget(attribute(form, 'submitrepeat')) }}
                    {% endif %}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% if supportsHookSubscribers %}
            {% set hookId = mode != 'create' ? file.id : null %}
            {% set hooks = notifyDisplayHooks(eventName='mufilesmodule.ui_hooks.files.form_edit', id=hookId, outputAsArray=true) %}
            {% if hooks is iterable and hooks|length > 0 %}
                {% for area, hook in hooks %}
                    <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.EditFunctions.js'), 99) }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.InlineEditing.js'), 99) }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.AutoCompletion.js'), 99) }}
    {% set formInitScript %}
        <script>
        /* <![CDATA[ */
            var mUFilesInlineEditHandlers = [];
            var mUFilesEditHandler = null;
            
            ( function($) {
                $(document).ready(function() {
                    mUFilesInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ file.id }}{% endif %}');
                    mUFilesInitUploadField('mufilesmodule_file_uploadFile_uploadFile');
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('mufilesmodule_file_moderationSpecificCreator');
                    {% endif %}
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
