{# purpose of this template: general base layout #}
{% block header %}
{% endblock %}

{% block appTitle %}
    {{ moduleHeader('user', '', '', false, true, false, true) }}
{% endblock %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ include('@MUFilesModule/Helper/includeModerationPanel.html.twig') }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
    {{ pageAddAsset('stylesheet', zasset('@MUFilesModule:css/custom.css'), 120) }}
    {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
    {{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.js')) }}
{% endblock %}
