{# purpose of this template: build the admin form to edit an instance of collection #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'adminBase' %}
{% extends 'MUFilesModule::' ~ baseTemplate ~ '.html.twig' %}

{% block title mode == 'create' ? __('Create collection') : __('Edit collection') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="mufilesmodule-collection mufilesmodule-edit">
        {% form_theme form with [
            '@MUFilesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'collectionEditForm', class: 'mufiles-edit-form'}}) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a id="fieldsTab" href="#tabFields" title="{{ __('Fields') }}" role="tab" data-toggle="tab">{{ __('Fields') }}</a>
                </li>
                <li role="presentation">
                    <a id="collectionTab" href="#tabCollection" title="{{ __('Collection') }}" role="tab" data-toggle="tab">{{ __('Collection') }}</a>
                </li>
                {% if featureActivationHelper.isEnabled(constant('MU\\FilesModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'collection') %}
                    <li role="presentation">
                        <a id="categoriesTab" href="#tabCategories" title="{{ __('Categories') }}" role="tab" data-toggle="tab">{{ __('Categories') }}</a>
                    </li>
                {% endif %}
                {% if mode != 'create' %}
                    <li role="presentation">
                        <a id="standardFieldsTab" href="#tabStandardFields" title="{{ __('Creation and update') }}" role="tab" data-toggle="tab">{{ __('Creation and update') }}</a>
                    </li>
                {% endif %}
                {% if form.moderationSpecificCreator is defined or form.moderationSpecificCreationDate is defined %}
                    <li role="presentation">
                        <a id="moderationTab" href="#tabModeration" title="{{ __('Moderation options') }}" role="tab" data-toggle="tab">{{ __('Moderation') }}</a>
                    </li>
                {% endif %}
            </ul>
        
            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tabFields" aria-labelledby="fieldsTab">
                    <h3>{{ __('Fields') }}</h3>
                    <fieldset>
                        <legend>{{ __('Content') }}</legend>
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.inFrontend) }}
                    </fieldset>
                </div>
                
                {{ include(
                    '@MUFilesModule/Collection/Admin/includeSelectOne.html.twig',
                    {group: 'collection', heading: __('Collection'), alias: 'collection', mandatory: false, idPrefix: 'filesCollection_Collection', linkingItem: collection, tabs: true, displayMode: 'choices'}
                ) }}
                {% if featureActivationHelper.isEnabled(constant('MU\\FilesModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'collection') %}
                    {{ include('@MUFilesModule/Helper/includeCategoriesEdit.html.twig', {obj: collection, tabs: true}) }}
                {% endif %}
                {% if mode != 'create' %}
                    {{ include('@MUFilesModule/Helper/includeStandardFieldsEdit.html.twig', {obj: collection, tabs: true}) }}
                {% endif %}
                
                {% if supportsHookSubscribers and formHookTemplates|length > 0 %}
                    <fieldset>
                        {% for hookTemplate in formHookTemplates %}
                            {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                        {% endfor %}
                    </fieldset>
                {% endif %}
                
                <fieldset>
                    <legend>{{ __('Communication') }}</legend>
                    {{ form_row(form.additionalNotificationRemarks) }}
                </fieldset>
                
                {% if form.moderationSpecificCreator is defined or form.moderationSpecificCreationDate is defined %}
                    <div role="tabpanel" class="tab-pane fade" id="tabModeration" aria-labelledby="moderationTab">
                        <h3>{{ __('Moderation') }}</h3>
                        {% if form.moderationSpecificCreator is defined %}
                            {{ form_row(form.moderationSpecificCreator) }}
                        {% endif %}
                        {% if form.moderationSpecificCreationDate is defined %}
                            {{ form_row(form.moderationSpecificCreationDate) }}
                        {% endif %}
                    </div>
                {% endif %}
                
            </div>
        </div>
        
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                    {% if mode == 'create' and action.id == 'submit' and form.submitrepeat is defined %}
                        {{ form_widget(attribute(form, 'submitrepeat')) }}
                    {% endif %}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% if supportsHookSubscribers %}
            {% set hookId = mode != 'create' ? collection.id : null %}
            {% set hooks = notifyDisplayHooks(eventName='mufilesmodule.ui_hooks.collections.form_edit', id=hookId, outputAsArray=true) %}
            {% if hooks is iterable and hooks|length > 0 %}
                {% for area, hook in hooks %}
                    <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.EditFunctions.js'), 99) }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.InlineEditing.js'), 99) }}
    {{ pageAddAsset('javascript', zasset('@MUFilesModule:js/MUFilesModule.AutoCompletion.js'), 99) }}
    {% set formInitScript %}
        <script>
        /* <![CDATA[ */
            var mUFilesInlineEditHandlers = [];
            var mUFilesEditHandler = null;
            
            ( function($) {
                $(document).ready(function() {
                    mUFilesInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ collection.id }}{% endif %}');
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('mufilesmodule_collection_moderationSpecificCreator');
                    {% endif %}
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
