{# purpose of this template: collections admin list view #}
{% extends 'MUFilesModule::adminBase.html.twig' %}
{% block title own ? __('My collections') : __('Collections list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="mufilesmodule-collection mufilesmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUFilesModule/Collection/Admin/viewQuickNav.html.twig') }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('mufilesmodule_collection_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="collectionsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cName" />
                <col id="cDescription" />
                <col id="cParentid" />
                <col id="cInFrontend" />
                <col id="cCollection" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="mufiles-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hParentid" scope="col" class="text-right">
                    <a href="{{ sort.parentid.url }}" title="{{ __f('Sort by %s', {'%s': 'parentid'}) }}" class="{{ sort.parentid.class }}">{{ __('Parentid') }}</a>
                </th>
                <th id="hInFrontend" scope="col" class="text-center">
                    <a href="{{ sort.inFrontend.url }}" title="{{ __f('Sort by %s', {'%s': 'in frontend'}) }}" class="{{ sort.inFrontend.class }}">{{ __('In frontend') }}</a>
                </th>
                <th id="hCollection" scope="col" class="text-left">
                    <a href="{{ sort.collection.url }}" title="{{ __f('Sort by %s', {'%s': 'collection'}) }}" class="{{ sort.collection.class }}">{{ __('Collection') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for collection in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ collection.getKey() }}" class="mufiles-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ collection.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUFilesModule:ItemActionsMenu:menu', [], {entity: collection, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ collection.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
                    </div>
                </td>
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ collection.workflowState|mufilesmodule_objectState }}
                </td>
                {% endif %}<td headers="hName" class="text-left">
                    <a href="{{ path('mufilesmodule_collection_' ~ routeArea ~ 'display', {'id': collection.getId()}) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ collection.name|notifyFilters('mufilesmodule.filterhook.collections')|safeHtml }}</a>
                </td>
                <td headers="hDescription" class="text-left">
                    {{ collection.description|striptags|truncate(50) }}
                </td>
                <td headers="hParentid" class="text-right">
                    {{ collection.parentid }}
                </td>
                <td headers="hInFrontend" class="text-center">
                    {% set itemId = collection.getKey() %}
                    <a id="toggleInFrontend{{ itemId }}" href="javascript:void(0);" class="mufiles-ajax-toggle hidden" data-object-type="collection" data-field-name="inFrontend" data-item-id="{{ itemId }}">
                        <i class="fa fa-check{% if not collection.inFrontend %} hidden{% endif %}" id="yesInFrontend{{ itemId }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if collection.inFrontend %} hidden{% endif %}" id="noInFrontend{{ itemId }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptInFrontend{{ itemId }}">
                        {% if collection.inFrontend %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hCollection" class="text-left">
                    {% if collection.collection|default %}
                        <a href="{{ path('mufilesmodule_collection_' ~ routeArea ~ 'display', {'id': collection.collection.getId()}) }}">{% spaceless %}
                          {{ collection.collection|mufilesmodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="collectionItem{{ collection.getKey() }}_rel_{{ collection.collection.getKey() }}Display" href="{{ path('mufilesmodule_collection_' ~ routeArea ~ 'display', {'id': collection.collection.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="mufiles-inline-window hidden" data-modal-title="{{ collection.collection|mufilesmodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}8{% else %}7{% endif %}">
            {{ __('No collections found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'mufilesmodule_collection_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUFilesModuleAction" class="col-sm-3 control-label">{{ __('With selected collections') }}</label>
                <div class="col-sm-6">
                    <select id="mUFilesModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="approve" title="{{ __('Update content and approve for immediate publishing.') }}">{{ __('Approve') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUFilesModule:Collection:', '::', 'ACCESS_COMMENT') %}
                {% set createTitle = __('Create collection') %}
                <a href="{{ path('mufilesmodule_collection_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('mufilesmodule_collection_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('mufilesmodule_collection_' ~ routeArea ~ 'view', {all: 1}) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='mufilesmodule.ui_hooks.collections.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
